main {
	background-color: $main-color;
}

.plantWrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 3rem;
}

.plantsInfoBox {
	flex: 1;
	margin-right: 3rem;
	margin-bottom: 3rem;
	max-width: 300px;

	h2 {
		font-size: 3rem;
		text-align: center;
		margin-bottom: 1rem;
	}

	ul {
		font-size: 1.5rem;
	}

	img {
		width: 300px;
		height: 300px;
	}
}

.cantFind {
	font-size: 6rem;
	color: $accent-color-two;
	padding: 1rem;
	margin-bottom: 3rem;
}

// Loading animation 

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.9) url('../../imgs/loader.gif') 50% 50%
		no-repeat;
}

.loading .modal {
	overflow: hidden;
	display: block;
}
