main {
	background-color: $main-color;
}

.plantWrapper {
	position: relative;
	// display: flex;
	// flex-wrap: wrap;
	// justify-content: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
	padding-top: 3rem;
}

.plantsInfoBox {
	flex: 1;
	// margin-right: 6.5rem;
	margin-bottom: 3rem;
	margin-top: 3rem;
	// max-width: 300px;
	border: 3px solid $dark-color;
	border-radius: 1rem;
	box-shadow: 8px 8px $dark-color;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;

	h2 {
		font-size: 3rem;
		text-align: center;
		margin-bottom: 1rem;
		margin-top: 2.5rem;
		font-family: $font-one;
	}

	h3 {
		font-size: 2rem;
		text-align: center;
		height: 50px;
		font-family: $font-one;
		font-style: italic;
		border-bottom: 3px solid $dark-color;
	}

	ul {
		font-size: 1.5rem;
	}

	img {
		width: 300px;
		height: 300px;
		object-fit: cover;
		padding-right: 6px;
	}
}

// .plantsInfoBox:nth-child(3n){
// 	margin-right:0rem;
// }

.cantFind {
	font-size: 6rem;
	color: $accent-color;
	padding: 1rem;
	margin-bottom: 3rem;
}

// Loading animation

.modal {
	display: none;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.9) url('../imgs/loader.gif') 50% 50%
		no-repeat;
}

.loading .modal {
	overflow: hidden;
	display: block;
}
.plantsInfoBox:hover {
	box-shadow: 11px 11px $accent-color;
	transition: all ease-in-out 0.2s;
}

