/* Utilites */
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	width: 90%;
}

.btn {
	display: inline-block;
	border: none;
	background: $light-color;
	color: $main-color;
	padding: 1rem 4rem;
	text-decoration: none;
	font-size: 2rem;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	border: 3px solid $dark-color;
	border-radius: 1rem;

	&:hover {
		border: 3px solid $main-color;
	}
	&:focus {
		border: 3px solid;
	}
}
