// Colors
$main-color: #FFFFFF;
$light-color: #b6c4c2;
$dark-color: #000000;
$accent-color:#b0f295;


// Font

$font-one:'Vollkorn', serif;
// use italics for secondary Vollkorn font
$font-two:'Exo', sans-serif;
$font-three:'Josefin Sans', sans-serif;





